.container {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px 20px;
    background: #ebedf2;
  }

  .avatar {
    border-radius: 100%;
    padding: 5px;
    width: 200px;
    height: 200px;
  }
}

.abilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.powerbar {
  width: 80%;
  height: 25px;
  background-color: #ddd;
  margin: 5px;
}

.stat-name {
  width: 15%;
}

.stat-value {
  text-align: right;
  color: white;
  height: 25px;
}
